// Colors
$tuxedo-menu-gray-base:     #f9f9f9;
$tuxedo-menu-brand-primary: #0f0;
$tuxedo-menu-bg:            #0f0f0f;

// Type
$tuxedo-menu-font-family:      'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$tuxedo-menu-font-size-base:   13px !default;
$tuxedo-menu-font-weight:      600 !default;

// Items
$tuxedo-menu-item-border-left:     none !default;
$tuxedo-menu-item-max-depth:       10 !default;
$tuxedo-menu-item-height:          20px  !default;
$tuxedo-menu-item-line-height:     $tuxedo-menu-item-height !default;

// Links
$tuxedo-menu-link-font-size:           $tuxedo-menu-font-size-base !default;
$tuxedo-menu-link-horizontal-padding:  15px !default;
$tuxedo-menu-link-vertical-padding:    10px !default;
$tuxedo-menu-link-color:               #e0e0e0 !default;
$tuxedo-menu-link-hover-color:         #fff !default;
$tuxedo-menu-link-hover-bg:            #4f4f4f !default;
$tuxedo-menu-link-border:              none !default;

// Heading
$tuxedo-menu-heading-font-size:   $tuxedo-menu-font-size-base !default;
$tuxedo-menu-heading-font-weight: 0 !default;
$tuxedo-menu-heading-color:       #666 !default;
