$tuxedo-menu-gray-base: #f9f9f9;
$tuxedo-menu-brand-primary: #0f0;

// Type
$tuxedo-menu-font-family:      'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$tuxedo-menu-font-size-base:   13px !default;
$tuxedo-menu-font-weight:      700 !default;

// Items
//$tuxedo-menu-item-border-left:     solid 5px $tuxedo-menu-brand-primary !default;
$tuxedo-menu-item-border-left:     none !default;
$tuxedo-menu-item-max-depth:       10 !default;
$tuxedo-menu-item-depth-prefix:    menu-depth- !default;

// Links
$tuxedo-menu-link-font-size:           $tuxedo-menu-font-size-base !default;
$tuxedo-menu-link-horizontal-padding:  15px !default;
$tuxedo-menu-link-vertical-padding:    10px !default;
$tuxedo-menu-link-color:               #e0e0e0 !default;
$tuxedo-menu-link-hover-color:         #fff !default;
$tuxedo-menu-link-hover-bg:            #4f4f4f !default;
$tuxedo-menu-link-active-color:        #333 !default;
$tuxedo-menu-link-active-bg:           #f9f9f9 !default;
$tuxedo-menu-link-border:              none !default;

// Heading
$tuxedo-menu-heading-font-size:   $tuxedo-menu-font-size-base !default;
$tuxedo-menu-heading-font-weight: 0 !default;
$tuxedo-menu-heading-color:       #666 !default;
