@import "variables";
@import "tuxedo-menu-trigger";

.tuxedo-menu {
    font-family: $tuxedo-menu-font-family;
    background: $tuxedo-menu-bg;
    animation-duration: 200ms;
    display: none;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            border-left: $tuxedo-menu-item-border-left;

            &:last-child {
                border-bottom: $tuxedo-menu-link-border;
            }

            a {
                color: $tuxedo-menu-link-color;
                font-size: $tuxedo-menu-link-font-size;
                text-decoration: none;

                &:hover, &:focus {
                    color: $tuxedo-menu-link-hover-color;
                    background: $tuxedo-menu-link-hover-bg;
                }
            }

            a, .heading {
                font-weight: $tuxedo-menu-font-weight;
                border-top: $tuxedo-menu-link-border;
                border-right: $tuxedo-menu-link-border;
                border-left: none;
                display: block;
                padding: $tuxedo-menu-link-vertical-padding $tuxedo-menu-link-horizontal-padding;
                height: $tuxedo-menu-item-height;
                line-height: $tuxedo-menu-item-line-height;
            }

            .heading {
                font-size: $tuxedo-menu-heading-font-size;
                font-weight: $tuxedo-menu-heading-font-weight;
                color: $tuxedo-menu-heading-color;
            }

            &.active a {
                color: $tuxedo-menu-link-active-color;
                background: $tuxedo-menu-link-active-bg;
            }

        }
    }

    @for $i from 0 to $tuxedo-menu-item-max-depth {
        .#{$tuxedo-menu-item-depth-prefix}#{$i} a,
        .#{$tuxedo-menu-item-depth-prefix}#{$i} .heading {
            padding-left: ($tuxedo-menu-link-horizontal-padding * $i) + $tuxedo-menu-link-horizontal-padding;
        }
    }

    &.tuxedo-menu-fixed {
        position: fixed;
        top: 0;
        left:  0;
        width: 30%;
        height:100%;
        overflow-y: scroll;
    }

    &.tuxedo-menu-dirty {
        display: inherit;
    }
}

@media (max-width: 768px) {
    .tuxedo-menu.tuxedo-menu-fixed {
        width: 80%;
    }
}
